<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Items</title>
    <script src="{% static 'js/stripe.js' %}"></script>    
    <script src="https://js.stripe.com/dahlia/stripe.js"></script>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Продукт {{ id }}</h2>
    <h3>{{ name }}</h3>
    <div>
        Описание:
        <i> {{description}} </i>
    </div>
    <br>
    <b>Цена: {{price}} $</b>
    <br>
    <button onclick="pressBuyButton({{ id }})">
        Купить
    </button>
    
</body>
</html>